In [39]:
import pandas as pd

In [48]:
df1_dinner=pd.read_csv("/Users/chidam/Desktop/df1_feature extraction_wetravel/df1_result_duration_night_dinner.csv")

In [49]:
df1_dinner.head()

   Unnamed: 0           0    1
0           0   604614311  "0"
1           1   829831098  "0"
2           2   757408579  "0"
3           3   711936272  "0"
4           4  1030308757  "0"

In [50]:
df1_dinner.drop("Unnamed: 0", axis=1, inplace=True)

In [51]:
df1_dinner.rename(columns={"0": "company_id", "1": "dinner"}, inplace=True)

In [52]:
import ast
result=[]
for i in df1_dinner["dinner"]:
    result.append(ast.literal_eval(i))

In [53]:
df1_dinner.loc[:, "dinner_int_convert"]=pd.Series(result)

In [54]:
df1_dinner.loc[:, "mean_dinner"]=0

In [55]:
dinner_convert=[]
import numpy as np
for item in df1_dinner["dinner_int_convert"]:
    if item=='0':
        dinner_convert.append(int(item))
    else:
        dinner_convert.append(item)

In [56]:
from statistics import *
from math import *
mean_dinner=[]
for j in dinner_convert:
    if j:
        mean_dinner.append(round(sum(j)/len(j), 2))
    else:
        mean_dinner.append(j)

In [58]:
df1_dinner.loc[:, "mean_dinner"]=pd.Series(mean_dinner)

In [60]:
#let's now try the above procedure for median

median_dinner=[]
for jk in dinner_convert:
    if jk!=0:
        median_dinner.append(median(sorted(jk)))
    else:
        median_dinner.append(jk)

In [62]:
df1_dinner.loc[:, "median_dinner"]=pd.Series(median_dinner)

In [63]:
df1_dinner.to_csv('/Users/chidam/Desktop/df1_feature extraction_wetravel/df1_dinner_extracted.csv', index=True)